name: Lint

on: [push, pull_request]

permissions:
  contents: read

jobs:
  flake8:
    name: flake8
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: flake8 Lint
        uses: py-actions/flake8@v2

  pylint:
    name: pylint
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install poetry
        run: pipx install poetry

      - name: Configure poetry environment
        run: poetry env use 3.11

      - name: Install project
        run: poetry install --only=main,analyze,test

      - name: pylint Lint
        run: poetry run pylint b64s test_b64s
