name: Lint

on: [push, pull_request]

jobs:
  flake8:
    name: flake8
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: flake8 Lint
        uses: py-actions/flake8@v2

  pylint:
    name: pylint
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Upgrade PyPA packages
        run: python -m pip install -U pip setuptools wheel

      # TODO: Print the install script commit hash and Poetry version.
      - name: Install poetry
        run: curl -sSL https://raw.githubusercontent.com/EliahKagan/install.python-poetry.org/ci-repro/b64s/install-poetry.py | python3 -

      - name: Install project
        run: poetry install

      - name: pylint Lint
        run: poetry run pylint b64s test_b64s
