name: Unit Tests

on: [push, pull_request]

jobs:
  # TODO: Turn test-poetry into a tox-based test job (renaming accordingly).
  test-poetry:
    name: Test (poetry)

    strategy:
      matrix:
        os: [ubuntu, macos, windows]

        python-version:
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
          - 'pypy3.7'
          - 'pypy3.8'
          - 'pypy3.9'

      fail-fast: false

    runs-on: ${{ matrix.os }}-latest

    defaults:
      run:
        shell: bash

    steps:
      - name: Check out source repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install poetry
        run: pipx install poetry

      - name: Configure poetry to use the python from setup-python
        run: poetry env use "$pythonLocation/python"

      - name: Install project and test runner
        run: poetry install --only=main,test

      - name: Print Python version
        run: poetry run python -V

      - name: Run Unit Tests
        run: poetry run pytest

  test-conda:
    name: Test (conda)

    strategy:
      matrix:
        os: [ubuntu, macos, windows]
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']

    runs-on: ${{ matrix.os }}-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Check out source repository
        uses: actions/checkout@v3

      - name: Substitute Python version
        run: |
          perl -i -spwe 's/^ *- python=\K.+$/$pyver/' -- \
              -pyver=${{ matrix.python-version }} environment.yml

      - name: Provision with micromamba
        uses: mamba-org/provision-with-micromamba@v15

      - name: Print Python version
        run: python -V

      - name: Run Unit Tests
        run: pytest
