name: Typecheck

on: [push, pull_request]

jobs:
  mypy:
    runs-on: ubuntu-latest
    name: mypy
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install poetry
        run: pipx install poetry

      - name: Generate requirements.txt
        run: poetry export --with=analyze,test >requirements.txt

      - name: mypy Typecheck
        uses: jpetrucciani/mypy-check@1.11.2
        with:
          python_version: '3.11'
          requirements_file: requirements.txt

  pyright:
    runs-on: ubuntu-latest
    name: pyright
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Upgrade PyPA packages
        run: python -m pip install -U pip setuptools wheel

      - name: Install poetry
        run: pipx install poetry

      - name: Generate requirements.txt
        run: poetry export --with=analyze,test >requirements.txt

      - name: Install library dependencies
        run: pip install -r requirements.txt

      - name: pyright Typecheck
        uses: jakebailey/pyright-action@v2
